.home {
  grid-template-columns: 4.32fr 7.68fr;
  align-items: center;
  padding: 40px;
  height: 100vh;
}

.home_img {
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0, 0 8px hsl(0, 0%, 0.3%);
}

.home_data {
  max-width: 600px;
  margin-inline: auto;
  padding-top: 20px;
}

.home_title {
  position: relative;
  font-style: var(--h1-font-size);
  line-height: 1.24;
  padding-left: 70px;
}

.home_title::before {
  content: "";
  position: absolute;
  width: 40px;
  top: 35%;
  height: 2px;
  left: 0;
  border-radius: 10px;
  background-color: var(--first-color);
}

.home_title span {
  color: var(--first-color);
}

.home_desc {
  line-height: 2.125;
  margin-block: 16px 32px;
}
.color_block {
  height: 200%;
  width: 100%;
  position: fixed;
  background-color: var(--first-color);
  left: -83%;
  top: -50%;
  transform: rotate(-15deg);
  z-index: -1;
}


